#horizontal-flex {
    display:flex;
        
}

#dynamic-ui-placeholder {
    max-width:1200px;
}

.red {
    background-color: red;
    color: white;
    font-weight: bold;
}

.green {
    background-color: green;
    color: white;
    font-weight: bold;
}

.blue {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.orange {
    background-color: orange;
    color: black;
    font-weight: bold;
}

.main-content-title {
    font-weight:bold;
    
}

.main-content-body {
    font-size:smaller;
    font-weight: normal;
}

/* Accordion Styling */
.accordion-button {
    background-color:green;
}

.accordion-button:not(.collapsed) {
    background-color:green;
}

.accordion-item {
    background-color:red;
}